# Idea files
.idea/
.vscode/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
test.js
# Logs files
logs
*.log

# Node Package Modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock
.npm
